<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="RegisteredUsers/base::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <!-- External css -->
        <link rel="stylesheet" href="/css/base.css">

    </head>
    <body>

       <section>

           <div class="container">

               <h4> Showing <span th:text="${expCount}"></span> results</h4>

               <div class="card-deck experience-cards" th:each="experience : ${experiences}">

                   <div class="experience row">


                       <div class="crd col-md-9">
                           <a th:href="@{/registeredUser/fullExperience/{id}(id = ${experience.id})}">
                               <div class="card">
                                   <img class="card-img-top" src="https://media.istockphoto.com/photos/microsoft-sign-at-the-entrance-of-their-silicon-valley-campus-picture-id471179856?k=20&m=471179856&s=612x612&w=0&h=Fb2hjB4PL8pJ3CJ9L_puOgexxhU5yl7D_BytMC_pnAE=" alt="Card image cap">
                                   <div class="card-body">
                                       <h5 class="card-title">[[${experience.candidateNickname}]]'s interview experience in [[${experience.officeName}]] </h5>
                                       <p class="card-text">[[${experience.experienceSummary}]].</p>
                                   </div>

                                   <div class="card-footer">
<!--                                       <small class="text-muted">Post ID: [[${experience.id}]] &nbsp; <span>   </span> </small>-->
                                       <small class="text-muted">Posted on : [[${experience.postingDate}]]</small>
<!--                                       <small class="text-muted"> &nbsp; Posted by: [[${experience.postedBy}]]</small>-->
                                   </div>
                               </div>
                           </a>
                       </div>


                   </div>

               </div>


               <div class="write-icon">
                   <div class="container">
                       <a th:href="@{/registeredUser/writeNewExperience}">
                           <img src="/images/newPost.png" alt="">
                       </a>
                   </div>
               </div>



           </div>

       </section>

    </body>
</html>