<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>

    <section>

        <div class="container">

            <div class="row">
                <div class="col-md-8 offset-md-2" >

                    <div class="my-card mt-5">

                        <!-- Alert message-->

                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                            <p class="text-center" th:text="${session.message.content}"> </p>
                            <th:block th:text="${#session.removeAttribute('message')}"> </th:block>
                        </div>


                        <h1 class="text-center heading"> Admin profile and experiences </h1>

                        <form action="" th:action="@{/admin/updateProfile}" method="post" th:object="${user}">


                            <div class="form-row">
                                <!-- Name field-->
                                <div class="form-group col-md-6">
                                    <label for="name_field">Your Name</label>
                                    <input name="name" type="text" class="form-control" id="name_field" placeholder="Enter your name" th:value="${user.name}">
                                </div>

                                <!-- email field-->
                                <div class="form-group col-md-6">
                                    <label for="email_field">Your email</label>
                                    <input readonly name="email" type="email" class="form-control" id="email_field" placeholder="Enter your email" th:value="${user.email}">
                                </div>

                            </div>



                            <div class="form-row">

                                <!-- officeName field-->
                                <div class="form-group col-md-6">
                                    <label for="officeName_field">Office Name</label>
                                    <input name="officeName" type="text" class="form-control" id="officeName_field" placeholder="Microsoft" th:value="${user.officeName}">
                                </div>

                                <!-- position field-->
                                <div class="form-group col-md-6">
                                    <label for="position_field">Your position</label>
                                    <input name="position" type="text" class="form-control" id="position_field" placeholder="Software Developer" th:value="${user.position}">
                                </div>

                            </div>


                            <!--Submit and Reset field-->
                            <div class="container text-center">
                                <button type="submit" class="btn btn-success mt-4">
                                    Update
                                </button>
                            </div>


                        </form>

                    </div>

                </div>

            </div>

        </div>



        <div class="container mb-5">

            <h3 class="mt-4 mb-4 text-center"> Your shared Experiences</h3>

            <div class="card-deck experience-cards" th:each="experience : ${experiences}">

                <div class="experience row">

                    <div class="crd col-md-9">
                        <a th:href="@{/admin/fullExperience/{id}(id = ${experience.id})}">
                            <div class="card">
                                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/mountain-view-usa-september-google-logo-googleplex-headquarters-main-office-google-logo-googleplex-headquarters-main-office-135700474.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">[[${experience.candidateNickname}]]'s interview experience in [[${experience.officeName}]] </h5>
                                    <p class="card-text">[[${experience.experienceSummary}]].</p>
                                </div>

                                <div class="card-footer">
                                    <small class="text-muted">Post ID: [[${experience.id}]] &nbsp; <span>   </span> </small>
                                    <!--                                    <small class="text-muted">Posted on : [[${experience.postingDate}]]</small>-->
                                    <small class="text-muted"> &nbsp; Posted by: [[${experience.postedBy}]]</small>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>

            </div>



        </div>


    </section>

    </body>

</html>