body{
    background-color: #e7e7ee !important;
}


/* Style the links inside the sidenav */
#mySidenav a {
    margin-top: 10%;
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 130px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */

#adminHome{
    top: 20px;
    background-color: #4074af;
}

#approvedExp {
    top: 90px;
    background-color: #04AA6D;
}

#requestedExp {
    top: 160px;
    background-color: #2196F3; /* Blue */
}

#rejectedExp {
    top: 230px;
    background-color: #f44336; /* Red */
}

#shareExp {
    top: 300px;
    background-color: #555; /* Light Black */
}

#adminProfile{
    top: 370px;
    background-color: #D1ABB6;
}

#logout{
    top: 440px;
    background-color: #e00d4d;
}

.my-card{
    background: #CAC2DD !important;
}