.experience-cards{
    margin-top: 30px;
}

/* navbar */
.nav{
    /*margin-top: 5px;*/
    margin-bottom: 20px;
    background-color: #a6d3e7;
}

.nav-item a{
    color: black;
}

/* buttons of cards */
.btn{
    margin-bottom: 5px;
    width: 170px;
}

.msg{
    background: #d8d8d8;
}

/* writing-icon */

.write-icon{
    margin-left: auto;
    margin-right: auto;
}

.write-icon .container{
    /*width: 10px;*/
    text-align: center;
}

.write-icon img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.write-icon img:hover{
    width: 55px;
    height: 55px;
}

/*Experience cards*/

.experience{
    margin-left: auto;
    margin-right: auto;
}

.experience-cards a{
    text-decoration: none;
    color: black;
}

.experience-cards .experience .crd{
    margin-top: 15px;
    width: 780px;
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

/*.experience-cards .experience .crd:hover{*/
/*    transform: scale(1.1);*/
/*    transition: 2s;*/
/*}*/

.card{
    border-radius: 15px;
}
.card img{
    height: 250px;
}

/*display: inline-block
display: inline-block*/

/*sideByside item*/
.sideBysideItem{
    display: inline-block;
}



/*Like div*/
.likeDiv{
    margin-top: 10px;
}

/*Like button*/

#likebtn{
    height: 14px;
    width: 14px;
    color: blue;
}

/*dislike button*/

#dislikebtn{
    margin-left: 25px;
    height: 14px;
    width: 14px;
    color: blue;
}

/*like count num*/

.count{
    margin-left: 3px;
    height: 14px;
    width: 14px;
}
